.task-list {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1rem;
}

.task-card {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 1rem);
	padding: 1rem 0.5rem;
	background-color: var(--bg-color-300);
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	p {
		word-break: break-all;
	}
}

.delete-button {
	background-color: var(--danger-color);
	color: #fff;
	margin-left: 1rem;
	max-height: 2.2rem;

	&:hover {
		background-color: var(--danger-color-hover);
	}
}
